<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        
    </style>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    <center style="color: black;">
        <h1>Information about the site</h1>
        <br>
        Lorem ipsum,
        <br>
        dolor sit amet consectetur adipisicing elit.
        <br>
        Possimus,laborum. Officia nihil hic odit temporibus vel.
        <br>
        Temporibus eligendi sequi dicta ad,
        <br>
        accusamus repellat odit atque.
    </center>
    
{% endblock content %}
</body>
</html>